@import '../styles/variables';
@import '../styles/mixins';

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin;

    input {
        padding: $padding;
        font-size: $font-size;
        margin-bottom: $margin-bottom;
    }

    button {
        @include button-styles();
        margin-bottom: $margin-bottom;
    }
}